.search {
 width: 100%;
 padding: 10px;
 border: none;
 border-bottom: 2px solid #242424;
 background: none;
 color: #fff;
 font-size: 22px;
 font-weight: 600;

 &:focus {
  outline: none;
  border-bottom: 2px solid #767676;
 }
}