.FilmCard {
 width: 270px;
 cursor: pointer;
 margin-right: 20px;
 transition: 0.2s width;

 &__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
 }

 &__link {
  text-decoration: none;
  color: #fff;
 }

 &__title {
  color: #fff;
  font-weight: 600;
  margin: 4px 0px;
 }

 &__type {
  color: #ccc;
 }
 &:hover{
  width: 260px;
}
}