@import '/src/shared/styles/variables.scss';


.CatalogCards{
 margin: 15px;
 &__title{
  color: #fff;
  margin: 10px 0px;
 }
 &__items{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 }
}



@media (max-width: $breakpoint__sm) {
 .CatalogCards {
  &__items{
   
  }
 }
}
